@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2')
        format('woff2');
    font-weight: normal;
    font-style: normal;
}

html,
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: #eaeef2;
    overflow-y: auto;
    overflow-x: none;
}

* {
    font-family: 'NanumSquareNeo-Variable', 'Courier New', Courier, monospace;
}

body::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
body::-webkit-scrollbar-button:start:decrement,
body::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 5px;
}
body::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
body::-webkit-scrollbar-thumb {
    height: 50px;
    width: 50px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}
